
# --================ Redis ================-- #
REDIS_HOST=localhost # Для запуска приложения через main
REDIS_PORT=6390
REDIS_DB=0
REDIS_DECODE_RESPONSES=True
REDIS_PASSWORD=changeme # Пароль должен быть больше 8 символов, иначе не пройдет валидацию самого Redis

# --================ Postgres ================-- #
POSTGRES_HOST=localhost # Для запуска приложения через main
POSTGRES_PORT=5470
POSTGRES_USER=changeme
POSTGRES_PASSWORD=changeme
POSTGRES_DB=changeme
DB_POOL_SIZE=20

# --================== S3 ===================-- #
S3_ROOT_USER=changeme
S3_ROOT_PASSWORD=changeme
S3_ENDPOINT_URL=http://localhost:9021 #Для запуска приложения через main
S3_BUCKET_NAME=files

# --================ Project ================-- #
CORS_ORIGINS='["http://localhost:3000", "http:127.0.1:3000", "*"]'
HOST=0.0.0.0
PORT=8006
LOG_LEVEL=debug
RELOAD=True
